.footerArea {
    display: flex;
    height: 149px;
    padding: 29px;
    background: white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerArea .footerMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    font-weight: 400;
    align-items: stretch;
}
.footerArea .footerMenu .menuItem:hover {
    color: #939393;
}


.footerArea .footerLogo {
    font-size: 25px;
    font-weight: 700;
}

.languageChange {
    display: flex;
    align-items: center;
}

.languageChange .languageChangeItem {
    margin-left: 17px;
    font-weight: 500;
}

.languageChange .languageChangeItem.active{
    font-weight: 700;
    color: #FFA542;
}

.languageChange .languageChangeItem:hover{
    color: #939393;
}
.sochialArea{
    width: 126.1px;
    height: 30.1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sochialArea a:hover{
    background: #939393;
    border-radius: 50%;
    
}